.login-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
  color: #495057;
  text-align: center;
  padding: 10px 0;
  z-index: 1000;
}
.left-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  height: 100%;
}

.left-section img {
  width: 100%;
  max-width: 500px;
  height: auto;
  object-fit: contain;
}

.right-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

@media (max-width: 808px) {
  .left-section,
  .right-section {
      padding: 1rem;
      text-align: center;
  }

  .left-section img {
      max-width: 80%;
  }
}

@media (max-width: 600px) {
  .left-section img {
      max-width: 90%;
  }
}
